---
// Component Imports
import Button from "../components/Button.astro";
import ButtonMobile from "../components/ButtonMobile.astro";
import Card from "../components/Card.astro";
import CardMobile from "../components/CardMobile.astro";
import Main from "../layouts/main.astro";
import "../styles/global.css";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<section class="hero h-screen grid place-items-center">
  <article class="flex flex-col place-items-center text-center">
    <h1 class="font-vasirman">Figma4Lyfe praesenterer</h1>
    <h2>
      Komponenter til <span class="text-firmaroed font-bold">Lauritz.com</span>
    </h2>
    <style>
      h1 {
        font-size: var(--hero-h1);
      }
      h2 {
        font-size: var(--hero-h2);
      }

      .desk {
        font-size: 2rem;
      }
    </style>
  </article>
</section>

<div class="grid place-items-center gap-5">
  <h2 class="desk py-[10vmin]">
    Card-komponentet i forskellige varianter |
    <span class="text-firmaroed font-bold">Desktop</span>
  </h2>
  <Card
    subTitle="Henrik Carlsen"
    titel="Kommode af teak"
    beskrivelse="Kommoden har tre skuffer. H. 68 cm. B. 80 cm. D. 36 cm. Spejl: 35 x 74 cm. Fremstaar med mindre brugsspor."
    deluxe={true}
    btnDeskDefault={true}
    imgDresser={true}
    vurdering="DKK 4.500"
  />
  <Card
    subTitle="Oesteuropaeisk"
    titel="Reflektor bordlampe"
    beskrivelse="Bordlampe med kobber skærm, stamme af metal, fod af messing. Vipbar. H. 52 cm, O. 32 cm"
    btnDeskHighest={true}
    imgLamp={true}
    vurdering="DKK 2.000"
  />
  <Card
    subTitle="Theodor Philipsen"
    titel="Vejparti med faar"
    beskrivelse="Theodor Philipsen (1840-1920). Olie på malerpap, monteret på laerred. 25 x 35,5 (33,5 x 44) cm."
    btnDeskDefault={true}
    imgPainting={true}
    vurdering="DKK 9.000"
  />
  <Card
    subTitle="Armbaand"
    titel="14 kt. guld"
    beskrivelse="Armbaand af 14 kt. guld og hvidguld.L. 18.5 cm, B. 0,9 cm.Har sikkerhedshaspe. Vaegt 13,3g."
    btnDeskDefault={true}
    imgBracelet={true}
    vurdering="DKK 3.200"
  />
  <Card
    subTitle="Christian Frederik Heise"
    titel="Hammerslaaede soelvskeer"
    beskrivelse="Skoenvirke. Prydret med blomster og bladvaerk samt hammerslaaet laf. Stemplet CHF samt tretaarsstemplet (19)22-(19)25.Brugsspor. Samlet vaegt 371g."
    btnDeskDefault={true}
    imgSpoons={true}
    vurdering="DKK 1.800"
  />
</div>

<div class="flex flex-col justify-center py-24 items-center gap-5">
  <h2 class="desk py-[10vmin]">
    Card-komponentet i forskellige varianter |
    <span class="text-firmaroed font-bold">Mobil</span>
  </h2>
  <div class="">
    <CardMobile
      h2="Kommode af teak"
      h3="Henrik Clausen"
      deluxe={true}
      location="Herlev"
      time="11d 23min 22sek"
      vurdering="2.400"
      btnMobileDefault={true}
      imgDresser={true}
    />
  </div>

  <div class="">
    <CardMobile
      h2="Vejparti med faar"
      h3="Theodor Philipsen"
      deluxe={true}
      location="Aarhus"
      time="3d 9t 25min"
      vurdering="9.000"
      btnMobileHighest={true}
      imgPainting={true}
    />
  </div>

  <div class="">
    <CardMobile
      h2="Reflektor lampe"
      h3="Oesteuropaeisk"
      deluxe={true}
      location="Odense"
      time="33min 55sek"
      vurdering="2.000"
      btnMobileOverbid={true}
      imgLamp={true}
    />
  </div>

  <div class="">
    <CardMobile
      h2="14 kt. guld"
      h3="Armbaand"
      deluxe={true}
      location="Odense"
      time="1d 4t 15sek"
      vurdering="4.200"
      btnMobileDefault={true}
      imgBracelet={true}
    />
  </div>

  <div class="">
    <CardMobile
      h2="Soelvskeer"
      h3="Christian Heise"
      deluxe={true}
      location="Aarhus"
      time="8min 44sek"
      vurdering="1.800"
      btnMobileOverbid={true}
      imgSpoons={true}
    />
  </div>
</div>
